html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #111;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* Ocupa o espaço restante */
    min-height: 65vh;
}

footer {
    flex-shrink: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap");

@font-face {
    font-family: Nabana;
    src: url(./Nabana-ShadowBold\ -\ DEMO.ttf);
}

@font-face {
    font-family: NabanaNormal;
    src: url(./Nabana.ttf);
}

@font-face {
    font-family: 'Nabana';
    src: url('./Fonts/Nabana.ttf');
}

/* CSS DO HEADER - HOME USER - INICIO */

/* Logo com posição absoluta */

.bg-mix {
    background-color: #fed83c;
}

.mb-header-logo {
    width: 17rem;
    max-width: 100%;
    transition: transform 0.6s ease;
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: 1;
}

    .mb-header-logo:hover {
        transform: scale(1.1);
    }

.ms-text-mix {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 0.5rem;
    margin-left: 18rem;
    font-family: Nabana;
    color: #111111;
}

/* Ícone de pessoa */
.mb-icon-person {
    font-size: 4rem;
    color: #222;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .mb-icon-person:hover {
        transform: scale(1.1);
    }

/* Ícone de sacola */
.mb-icon-bag {
    font-size: 3rem;
    color: #222;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .mb-icon-bag:hover {
        transform: scale(1.1);
    }

/* CSS DO HEADER - HOME USER - FIM */

/* CSS DO FOOTER - HOME USER - INICIO */

/* Estilo personalizado para botão do footer */
.mb-footer-btn {
    background-color: #111111;
    color: #fed83c;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    transition: transform 0.6s ease;
    font-family: Nabana;
    text-align: center;
    text-decoration: none;
}

    .mb-footer-btn:hover {
        transform: scale(1.1);
        background-color: #111111;
        color: #fed83c;
    }

/* Ícones sociais do footer */
.iconsFooter {
    color: #111111;
    transition: transform 0.6s ease;
    font-size: 2rem;
}

    .iconsFooter:hover {
        transform: scale(1.1);
    }

/* Links do LinkedIn no final do rodapé */
.linkedin {
    color: #111111;
    text-decoration: none;
    transition: transform 0.6s ease;
}

    .linkedin:hover {
        transform: scale(1.1);
    }

/* Texto da esquerda do rodapé */
.mb-footer-left {
    font-family: Nabana;
    font-size: 1rem;
}

/* Texto da direita do rodapé */
.mb-footer-right {
    font-family: Nabana;
    font-size: 1rem;
}

/* Ícones sociais (alinhamento extra) */
.mb-footer-icons {
    font-family: Nabana;
}

.btn-icons{
    display: flex;
    align-items: center;
}

/* CSS DO FOOTER - HOME USER - FIM */

/* CSS DO MAIN - HOME USER - INICIO */

.container-dad {
    height: 69vh;
    background: url("https://cdn.goomer.com.br/website/base/fe1/31d/7f5/jonathan-borba-8l8yl2ruusg-unsplash-scaled.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

    .container-dad::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

.btn-menu {
    display: inline-block;
    background-color: #fed83c;
    color: #111111;
    border: none;
    width: 25rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: NabanaNormal;
    transition: all 0.3s ease;
    margin-top: 1rem;
    /* Adicione isso para centralizar */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove sublinhado do <a> */
}

    .btn-menu:hover {
        transform: scale(1.1);
        background-color: #fed83c;
        color: #111111;
    }

.slash-logo {
    width: 13rem;
    margin-top: -3rem;
}

/* Estilo das fotos na seção "quem somos" */
.photo {
    width: 34rem;
    height: 40rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    /* Efeito hover nas fotos */
    .photo:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    }

.text-who {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.6;
    font-family: Nabana;
}

.text-biografia {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.6;
    max-width: 45rem;
    position: relative;
    z-index: 1;
    font-family: Nabana;
}

.who-we-are {
    font-size: 2.5rem;
    font-family: Nabana;
    font-weight: 600;
    color: white;
}

.more {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imgs-more {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.more-imgs-videos {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}

    .more-imgs-videos:hover {
        transform: scale(1.1);
    }

.more-videos {
    background-size: cover;
    background-position: center;
    width: 15rem;
    height: 15rem;
    transition: transform 0.3s ease;
}

    .more-videos i {
        font-size: 7rem;
        color: #111;
    }

    .more-videos:hover {
        transform: scale(1.1);
    }

.texts{
    font-family: Nabana;
}

.text-mix {
    color: #fed83c;
}

.container-who {
    width: 100%;
    background: url("https://invexo.com.br/blog/wp-content/uploads/2021/06/Hamburgueria-da-Alf%C3%A2ndega-Ipanema.jpg") no-repeat center center/cover;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    margin-top: 0rem;
}

    /* Estilo do overlay na seção "quem somos" */
    .container-who::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

.more-videos1 {
    background-image: url(../IMGS/Captura\ de\ tela\ 2025-01-29\ 134946.png);
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    i

{
    color: #111111;
    font-size: 7rem;
}

}

.more-videos1:hover {
    transform: scale(1.1);
}

/* Estilo dos vídeos na seção "mais" */
.more-videos2 {
    background-image: url(../IMGS/Captura\ de\ tela\ 2025-01-29\ 134946.png);
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    i

{
    color: #111111;
    font-size: 7rem;
}

}

.more-videos2:hover {
    transform: scale(1.1);
}

/* Estilo dos vídeos na seção "mais" */
.more-videos3 {
    background-image: url(../IMGS/Captura\ de\ tela\ 2025-01-29\ 134946.png);
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    i

{
    color: #111111;
    font-size: 7rem;
}

}

.more-videos3:hover {
    transform: scale(1.1);
}

/* Estilo dos vídeos na seção "mais" */
.more-videos4 {
    background-image: url(../IMGS/Captura\ de\ tela\ 2025-01-29\ 134946.png);
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    i

{
    color: #111111;
    font-size: 7rem;
}

}

.more-videos4:hover {
    transform: scale(1.1);
}

/* CSS DO MAIN - HOME USER - FIM */

/* CSS DO MAIN - ADM USER - INICIO */

.custom-font-nabana {
    font-family: 'Nabana', sans-serif;
}

.custom-contato {
    transition: transform 0.3s ease-in-out;
}

    .custom-contato:hover {
        transform: translateY(-5px);
    }

.popUpsAdicionar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popUpEdit {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    gap: 1rem;
    border: none;
    width: 35rem;
    input

{
    text-align: center;
    color: #000000;
    border: solid 1px #000000;
}

.btnLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: NabanaNormal;
}

input{
    width: 10rem;
}

}

.btnsSalvar {
    display: flex;
    gap: 2rem;
    font-family: NabanaNormal;
}

.btnsInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: NabanaNormal;
}

.imgPreview {
    width: 5rem;
}

.inputNovaDescricao {
    width: 20rem;
}

.adicionaisMenuLanche {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.adicionais {
    color: #000000;
    font-size: 1.5rem;
    img

{
    width: 5rem;
}

}

.descricaoCarrinho {
    width: 1rem;
}

.removeAdicional {
    background-color: red;
}

/* Estilo dos botões do cardápio */
.btnCardapioAriel {
    background-color: #fed83c;
    color: #000000;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: NabanaNormal;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
}

    .btnCardapioAriel:hover {
        transform: scale(1.1);
    }

.mensagem {
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Nabana;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.alerts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.alert {
    background-color: #000000;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-family: Nabana;
    color: white;
    p

{
    text-align: center;
    font-size: 1.5rem;
}

}

/* CSS DO MAIN - ADM USER - FIM */

/* CSS DO HEADER - CARDAPIO USER - INICIO */

.mb-busca {
    background-color: #111111;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}

.mb-input-busca {
    background-color: transparent;
    font-size: 1rem;
    color: white;
    width: 14rem;
    font-family: NabanaNormal;
    color: white;
}

input.mb-input-busca:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #111 inset !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s; /* truque para evitar o flash amarelo */
}

.mb-input-busca:focus {
    outline: none;
    box-shadow: none;
}

/* CSS DO HEADER - CARDAPIO USER - FIM */

/* CSS DO MAIN - CARDAPIO USER - INICIO */

/* Estilo das categorias */
.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5rem
}

/* Estilo dos produtos */
.tituloCate {
    font-family: Nabana;
    color: white;
}

.produtos {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #000000;
    width: 60%;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .produtos:hover {
        transform: scale(1.1);
    }

    /* Estilo das imagens dos produtos */
    .produtos img {
        width: 15rem;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

/* Estilo do container de imagens */
.divImg {
    display: flex;
    justify-content: right;
    align-items: end;
}

/* Estilo do título dos itens */
.itemTitulo {
    width: 25rem;
    font-family: Nabana;
}

/* Estilo da descrição */
.descricao {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: NabanaNormal;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50rem;
}

/* Estilo do preço */
.preco {
    margin-top: 1rem;
    color: red;
    font-family: Nabana;
}

/* Estilo do botão de voltar para home */
.voltarHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 3rem;
    button

{
    font-family: NabanaNormal;
}

}

/* Estilo das alterações */
.alterações {
    background-color: #fff;
    color: #000000;
    input

{
    color: #000000;
}

}

/* Estilo do botão de voltar para home */
.btnVoltarHome {
    font-family: DM sans;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    margin-top: 5rem;
}

    /* Efeito hover no botão de voltar para home */
    .btnVoltarHome:hover {
        background-color: darkred;
    }

/* Estilo dos pop-ups */
.popUps {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alerts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.alert {
    background-color: #000000;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    p

{
    text-align: center;
    font-size: 1.5rem;
}

}

/* Estilo do conteúdo dos pop-ups */
.popUp {
    background-color: #fed83c;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 1rem;
}

    .popUp .colunn-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

.colunn-1 .titulo {
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.colunn-1 img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
}

.colunn-1 button {
    background-color: #000000;
    color: #fed83c;
    border: none;
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: NabanaNormal;
    transition: transform 0.3s ease;
    cursor: pointer;
}

    .colunn-1 button:hover {
        transform: scale(1.1);
    }

.colunn-1 .carrinhoPopUp {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: auto;
    border-radius: 1rem;
    text-align: center;
}

.carrinhoPopUp .bi-cart-fill {
    color: white;
    font-size: 3rem;
}

.colunn-1 .descricaoPopUp {
    max-width: 40rem;
    font-size: 1.3rem;
    color: #000000;
}

.colunn-1 .escolhas {
    background-color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    width: 40rem;
    height: 10rem;
    gap: 1rem;
    font-size: 0.9rem;
}

.escolhas button {
    background-color: #fed83c;
    color: #000000;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: NabanaNormal;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.escolhas .botoes {
    display: flex;
    gap: 2rem;
}

.botoes .inputQuantidade {
    background-color: #fed83c;
    width: 10rem;
    height: 3rem;
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
}

.adicionaisList {
    margin-top: 1rem;
    text-align: center;
    max-width: 40rem;
    font-size: 1.5rem;
}

    .adicionaisList .adicionaisOptions {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Define duas colunas com tamanho igual */
        gap: 1rem; /* Espaçamento entre os itens */
        justify-content: center;
        max-width: 100%;
    }

.adicionaisOptions img {
    height: 8rem; /* Ajuste para caber no espaço disponível */
    width: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.adicionaisOptions .inputQuantidadeAdicional {
    background-color: #000000;
    width: 8rem;
    text-align: center;
}

.btnAdicionaisEnviarPopUp {
    margin-top: 2rem;
}

.popUpBtn:hover button {
    cursor: pointer;
}

/* Estilo do título dos pop-ups */
.popUp h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}

/* CSS DO MAIN - CARDAPIO USER - FIM */

/* CSS DO MAIN - CARDAPIO ADM - INICIO */

.btnsModis {
    display: flex;
    justify-content: center;
    font-family: NabanaNormal;
    gap: 1rem;
}

.btnsRemoveEEdit {
    display: flex;
    gap: 1rem;
    font-family: NabanaNormal;
}

.popUpsAdicionar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popUpEdit {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    gap: 1rem;
    border: none;
    width: 35rem;
    input

{
    text-align: center;
    color: #000000;
    border: solid 1px #000000;
}

.btnLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: NabanaNormal;
}

}

.btnsSalvar {
    display: flex;
    gap: 2rem;
    font-family: NabanaNormal;
}

.btnsInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: NabanaNormal;
}

.imgPreview {
    width: 5rem;
}

.inputNovaDescricao {
    width: 20rem;
}

.adicionaisMenuLanche {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.adicionais {
    color: #000000;
    font-size: 1.5rem;
    img

{
    width: 5rem;
}

}

.descricaoCarrinho {
    width: 1rem;
}

.removeAdicional {
    background-color: red;
}

/* Estilo dos botões do cardápio */
.btnCardapioAriel {
    background-color: #fed83c;
    color: #000000;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: NabanaNormal;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
}

    .btnCardapioAriel:hover {
        transform: scale(1.1);
    }

.mensagem {
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Nabana;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.nomeCate{
    font-family: Nabana;
    color: white;
}

/* CSS DO MAIN - CARDAPIO ADM - FIM */

/* CSS DO MAIN - SUGESTAO USER - INICIO */

.sugestao-main {
    width: 100%;
    height: 86.7vh;
    font-family: Nabana;
    background: url(https://moinhoglobo.com.br/wp-content/uploads/2019/05/16-hamburguer.jpeg) no-repeat center center/cover;
}

.sugestao-text1 {
    margin-top: 2.5rem;
    font-family: Nabana;
}

.sugestao-caixaTexto {
    width: 40rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 15px;
    padding: 1.5rem;
    font-size: 1.2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-family: Nabana;
    resize: none;
}

.sugestao-btnCardapio {
    width: 25rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: NabanaNormal;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #fed83c;
}

    .sugestao-btnCardapio:hover {
        transform: scale(1.1);
        background-color: #fed83c;
    }

.sugestao-caixaTexto:focus {
    background-color: rgba(0, 0, 0, 0.6);
}

/* CSS DO MAIN - SUGESTAO USER - FIM */

/* CSS RESPONSIVO - INICIO */

    @media (max-width: 1400px) {
        header {
            height: 6rem;
        }

        main {
            flex: 1 0 auto; /* Ocupa o espaço restante */
            min-height: 56vh;
        }

        .mb-header-logo {
            width: 9rem;
            left: 5%;
            margin-top: 1rem;
        }

        .ms-text-mix {
            font-size: 0.8rem;
            margin-left: 10rem;
            gap: 0;
        }

        .title {
            font-size: 1.5rem;
        }

        .caption {
            font-size: 1rem;
        }

        .bi-person-fill {
            font-size: 2.7rem;
        }

        .bi-bag-fill {
            font-size: 2.1rem;
        }

        .text-mix {
            font-size: 1.5rem;
        }

        .container-dad {
            height: 74vh;
        }

        .text-mix-burguer {
            font-size: 1.5rem;
        }

        .text-chega {
            font-size: 1.5rem;
        }

        .bar {
            height: 6rem;
        }

        .slash-logo {
            width: 7rem;
        }

        .photo {
            width: 20rem;
            height: 20rem;
        }

        .text-biografia {
            font-size: 1rem;
        }

        .who-we-are {
            margin-bottom: 0rem;
            font-size: 1.5rem;
        }

        .btn-menu {
            width: 15rem;
            height: 2rem;
            font-size: 1rem;
        }

        .btnCardapioA {
            width: 15rem;
            height: 2rem;
            font-size: 1rem;
        }

        .more-imgs-videos {
            width: 10rem;
            height: 10rem;
        }

        .more-videos1 {
            width: 10rem;
            height: 10rem;
            i

{
    font-size: 4rem;
}

}

.more-videos2 {
    width: 10rem;
    height: 10rem;
    i

{
    font-size: 4rem;
}

}

.more-videos3 {
    width: 10rem;
    height: 10rem;
    i

{
    font-size: 4rem;
}

}



.more-videos4 {
    width: 10rem;
    height: 10rem;
    i

{
    font-size: 4rem;
}

}

.popUp {
    width: 40%;
    height: auto;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 20rem 5rem 20rem;
}

.colunn-1 .titulo {
    font-size: 1.5rem;
}

.colunn-1 img {
    width: 10rem;
    height: 10rem;
}

.colunn-1 button {
    width: 10rem;
    height: 1.5rem;
    font-size: 0.8rem;
}

.colunn-1 .carrinhoPopUp {
    width: 10rem;
    height: auto;
    font-size: 0.6rem;
}

.carrinhoPopUp .bi-cart-fill {
    font-size: 1.5rem;
}

.colunn-1 .descricaoPopUp {
    max-width: 20rem;
    font-size: 0.7rem;
    color: #000000;
}

.colunn-1 .escolhas {
    display: none;
    width: 20rem;
    height: 5rem;
    gap: 1rem;
    font-size: 0.5rem;
}

.escolhas button {
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
}

.botoes .inputQuantidade {
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
}

.adicionaisList {
    max-width: 20rem;
    font-size: 0.7rem;
}

.adicionaisOptions img {
    height: 4rem;
    width: 4rem;
}

.adicionaisOptions .inputQuantidadeAdicional {
    width: 6rem;
}

.btn2 {
    padding: 4px 8px;
    font-size: 0.8rem;
}

    .footer-mix .mb-footer-left {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        br

{
    display: none;
}

}

.footer-mix .mb-footer-right {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 0.4rem;
    br

{
    display: none;
}

}

.footer-mix .btn-icons {
    font-size: 1.5rem;
}

.mb-footer-btn{
    font-size: 0.7rem;
    width: auto;
    height: 2rem;
}

.busca {
    width: 10rem;
    height: 2rem;
    font-size: 1.3rem;
    gap: 0.8rem;
}

.bi-search {
    font-size: 1rem;
}

input {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
}

.produtos {
    width: 40%;
}

    .produtos img {
        width: 10rem;
        height: 10rem;
    }

.itemTitulo {
    width: 10rem;
}

.preco {
    width: 10rem;
}

.descricao {
    width: 10rem;
    font-size: 1rem;
}

.textMensagem {
    font-size: 2rem;
}

}

@media (max-width: 840px) {
    .text-biografia {
        font-size: 0.5rem;
    }

    .more-imgs-videos {
        width: 5rem;
        height: 5rem;
    }

    .more-videos1 {
        width: 5rem;
        height: 5rem;
        i

{
    font-size: 2rem;
}

}

.more-videos2 {
    width: 5rem;
    height: 5rem;
    i

{
    font-size: 2rem;
}

}

.more-videos3 {
    width: 5rem;
    height: 5rem;
    i

{
    font-size: 2rem;
}

}

.more-videos4 {
    width: 5rem;
    height: 5rem;
    i

{
    font-size: 2rem;
}

}

.btn2 {
    padding: 4px 8px;
    font-size: 0.6rem;
}

.footer-mix .mb-footer-left {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    br

{
    display: none;
}

}

.footer-mix .mb-footer-right {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 0.4rem;
    br

{
    display: none;
}

}

.footer-mix .btn-icons {
    font-size: 1rem;
}

.mb-footer-btn{
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos img {
    display: none;
}

.itemTitulo {
    width: 20rem;
}

.preco {
    width: 20rem;
}

.descricao {
    width: 15rem;
    font-size: 1rem;
    text-align: center;
}

}

@media (max-width: 640px) {
    .photo {
        display: none;
    }

    .ms-text-mix {
        font-size: 0.8rem;
        width: 20rem;
    }

    .btn-icons{
        display: none;
    }
}

@media (max-width: 540px) {
    .ms-text-mix{
        margin-left: 0;
    }

    .mb-header-logo {
        display: none;
    }

    .header-mix {
        gap: 0;
        margin-left: -10rem;
    }

    .text-who{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
    }

    .conatiner-we-are{
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .ms-text-mix {
        font-size: 0.6rem;
        text-align: center;
    }

    .text-biografia {
        font-size: 0.6rem;
        width: 10rem;
        text-align: center;
    }

    .busca {
        display: none;
    }

    .produtos {
        width: 20rem;
    }

    .itemTitulo {
        width: 20rem;
    }

    .preco {
        width: 20rem;
    }

    .descricao {
        width: 15rem;
        font-size: 1rem;
        text-align: center;
    }

    .btn-menu {
        width: 5rem;
        font-size: 0.6rem;
    }

    .nomeCate {
        font-size: 1.5rem;
    }

    .footer-mix .mb-footer-right {
        display: flex;
        flex-direction: column;
        font-size: 0.4rem;
        gap: 0.4rem;
        br

{
    display: none;
}

}

.popUp {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 20rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.alert {
    padding: 0;
    width: 20rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.colunn-1 {
    text-align: center;
    img

{
    display: none;
}

}
}

/* CSS RESPONSIVO - FIM */